[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
Documentation=man:phc2sys
After=ntpdate.service
Requires=ptp4l.service
After=ptp4l.service

[Service]
Type=simple
# Synchronize system clock (CLOCK_REALTIME) to a remote clock connected to the
# enp3s0 interface
ExecStart=/usr/sbin/phc2sys -s enp3s0 -c CLOCK_REALTIME -O 0

[Install]
WantedBy=multi-user.target
