[Desktop Entry]
Exec=gnome-terminal -- bash -c '/home/user/.local/bin/kamera system start && /home/user/.local/bin/kamera gui'
Name=kamera_gui
Terminal=true
Icon=applications-science
Type=Application
Name[en_US]=Launch\nKAMERA
