[Desktop Entry]
Exec=gnome-terminal -- /home/user/.local/bin/kamera system stop
Name=kamera_gui
Terminal=true
Icon=process-stop
Type=Application
Name[en_US]=Stop\nKAMERA
