[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/kamera/scripts/kamera_run.sh'
Name=kamera_gui
Terminal=true
Icon=applications-science
Type=Application
Name[en_US]=LAUNCH\nKAMERA
