[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/kamera/provision/start_stop/kamera_power.sh reboot left'
Name=reboot_left
Terminal=true
Type=Application
Name[en_US]=reboot_left
