[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/kamera/provision/start_stop/reboot_center.sh'
Name=reboot_center
Terminal=true
Type=Application
Name[en_US]=reboot_center
