[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/noaa_kamera/provision/start_stop/reboot_cas0.sh'
Name=reboot_cas0
Terminal=true
Type=Application
Name[en_US]=reboot_cas0
