[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/kamera/provision/start_stop/kamera_power.sh shutdown all'
Name=shutdown_all
Terminal=true
Type=Application
Icon=system-shutdown
Name[en_US]=Shutdown\nBoth Systems
