[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/kamera/provision/start_stop/kamera_power.sh shutdown left'
Name=shutdown_left
Terminal=true
Type=Application
Icon=system-shutdown
Name[en_US]=Shutdown\nLeft System
