[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/noaa_kamera/provision/start_stop/shutdown_cas2.sh'
Name=shutdown_cas2
Terminal=true
Type=Application
Name[en_US]=shutdown_cas2
