[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/kamera/provision/start_stop/shutdown_nuvo1.sh'
Name=shutdown_nuvo1
Terminal=true
Type=Application
Name[en_US]=shutdown_nuvo1
