[Desktop Entry]
Exec=gnome-terminal -e '/home/user/kw/kamera/provision/start_stop/kamera_power.sh shutdown right'
Name=shutdown_right
Terminal=true
Type=Application
Name[en_US]=shutdown_right
