<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="system_name" default="nuvo0" />
  <arg name="sys_namespace" default="/$(arg system_name)"/>

  <arg name="verbosity" default="0" />

  <group ns="$(arg sys_namespace)">
    <node name="missed_frame_node" pkg="kamerahealth" type="missed_frame_node.py"
          respawn="false" output="screen" required="false">
    </node>
  </group>
  <!-- end group sys_namespace -->
</launch>
